<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Five-Good</name>
    <description>Five-Good App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Five-Good Team
    </author>
    <icon src="www/img/five_good icon.jpg" platform="android" width="57" height="57" density="mdpi" />
    
    <platform name="android">
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen/android/splashscreen.xml" />
        <!-- you can use any density that exists in the Android project -->

        <!-- <preference src="www/img/five_good icon.jpg" density="land-hdpi"/>
        <preference src="www/img/five_good icon.jpg" density="land-ldpi"/>
        <preference src="www/img/five_good icon.jpg" density="land-mdpi"/>
        <preference src="www/img/five_good icon.jpg" density="land-xhdpi"/>

        <preference src="www/img/five_good icon.jpg" density="port-hdpi"/>
        <preference src="www/img/five_good icon.jpg" density="port-ldpi"/>
        <preference src="www/img/five_good icon.jpg" density="port-mdpi"/>
        <preference src="www/img/five_good icon.jpg" density="port-xhdpi"/> -->

        <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/> -->
        <!-- <feature name="Screenshot">
            <param name="android-package" value="org.apache.cordova.screenshot.Screenshot"/>
        </feature> -->



       <!--  <preference name="DisallowOverscroll" value="true"/>
        <preference name="Fullscreen" value="true" />
        <preference name="BackgroundColor" value="0xff0000ff"/>
        <preference name="HideKeyboardFormAccessoryBar" value="true"/>
        <preference name="Orientation" value="landscape" /> -->

        <!-- Android only preferences -->
        <!-- <preference name="KeepRunning" value="false"/>
        <preference name="LoadUrlTimeoutValue" value="10000"/>
        <preference name="InAppBrowserStorageEnabled" value="true"/>
        <preference name="LoadingDialog" value="My Title,My Message"/>
        <preference name="ErrorUrl" value="myErrorPage.html"/>
        <preference name="ShowTitle" value="true"/>
        <preference name="LogLevel" value="VERBOSE"/>
        <preference name="AndroidLaunchMode" value="singleTop"/>
        <preference name="AndroidInsecureFileModeEnabled" value="true" />
        <preference name="DefaultVolumeStream" value="call" />
        <preference name="OverrideUserAgent" value="Mozilla/5.0 My Browser" />
        <preference name="AppendUserAgent" value="My Browser" />
        <preference name="GradlePluginGoogleServicesEnabled" value="true" />
        <preference name="GradlePluginGoogleServicesVersion" value="4.2.0" />
        <preference name="GradlePluginKotlinEnabled" value="true" />
        <preference name="GradlePluginKotlinCodeStyle" value="official" />
        <preference name="GradlePluginKotlinVersion" value="1.3.50" /> -->
    </platform>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
